<header
  class="fixed h-16 w-full top-0 bg-navy-dark text-amber-50 flex justify-center items-center"
>
  <ul class="flex justify-around w-full max-w-[90%] md:justify-between md:max-w-sm">
    <li>
      <a class="hover:text-light-orange hover:font-semibold transition-all duration-200" href="#">Home</a>
    </li>
    <li>
      <a class="hover:text-light-orange hover:font-semibold transition-all duration-200" href="#">QR Code</a>
    </li>
    <li>
      <a class="hover:text-light-orange hover:font-semibold transition-all duration-200" href="#">About</a>
    </li>
  </ul>
</header>
<section
  class="mt-16 py-8 bg-gradient-to-b from-navy-dark via-navy-light to-navy-medium text-amber-50 flex flex-col items-center"
>
  <h1 class="mb-6 font-semibold text-2xl">Free URL Shortener</h1>
  <p class="mx-4 text-center">
    This is a free tool to shorten URLs. Create short & memorable links in seconds.
  </p>
  <%= form_with model: @url,
    url: urls_path,
    method: :post,
    class: "mt-6 self-stretch w-full max-w-[90%] md:max-w-2xl transition-all duration-200 mx-auto" do |f|
  %>
    <div data-controller="input" class="flex flex-col self-center gap-4 text-navy-dark">
      <%= f.text_field :target, placeholder: "Original URL", class: "rounded-md py-3" %>
      <%= f.text_field :alias,
        placeholder: "Custom URL (optional)",
        class: "rounded-md py-3",
        data: { action: "input->input#validateAlias"}
      %>
      <p class="ml-4 text-ice-blue" data-input-target="error">
        * Special charachters except hyphens "-" or underscores "_" are <strong>NOT</strong> allowed
      </p>
      <%= f.submit "Shorten URL",
        class: "px-12 py-2 border border-ice-blue rounded-md bg-ice-blue text-navy-dark font-semibold self-center active:scale-95
          hover:bg-navy-light hover:text-ice-blue hover:border-ice-blue cursor-pointer transition-all duration-200"
      %>
    </div>
  <% end %>
</section>
<section></section>
